<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>ftp.starkast.net</title>
  <link href="http://phoo.starkast.net/stylesheets/default.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<p><h1>
		<a href="http://ftp.starkast.net/">
			<span class="title">ftp</span><span class="starkast">.starkast.net</span>
		</a>
	</h1></p>	
	
	<p><em><a href="/pub/">Browse the archive</a></em> or connect through <a href="ftp://ftp.starkast.net/pub/">FTP</a></p>
	
	<h2>About</h2>
	<p>Located south of Stockholm, Sweden, and maintained by the <a href="http://www.starkast.net/">Starkast association</a>.</p>
	
	<h2>Status</h2>
	<ul>
		<li>Load averages: <%= load_avg %></li>
		<li>Serving <%= data_size %> with a total of <%= total_files %> files</li>
	</ul>
	<h3>Mirror synchronisations</h3>
	<ul><% for mirror in mirror_syncs do %>
		<li><a href="<%= mirror[:path] %>"><%= mirror[:path] %></a> updated on <%= mirror[:updated_on] %> from <a href="http://<%= mirror[:host] %>/<%= mirror[:path] %>"><%= mirror[:host] %></a></li>
	</ul><% end %>

	<p><code>$Id: ftp_starkast_net.erb,v 1.4 2007/04/01 22:34:22 dentarg Exp $</code></p>
</body>
</html>
